# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/pop101

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=24h

# Security
SALT_ROUNDS=10

# Email Service Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=example@gmail.com
EMAIL_PASS=passpasspasspsas

# Frontend Configuration
FRONTEND_URL=http://localhost:5173

# Google OAuth Configuration
GOOGLE_CLIENT_ID=

# Stripe secret key 
STRIPE_SECRET_KEY=

STRIPE_WEBHOOK_SECRET=

ADMIN_EMAIL=example.admin@gmail.com

MQTT_URL=mqtt://0.0.0.0:1883
MQTT_USERNAME=username
MQTT_PASSWORD=password
